### Predict the marks obtained based on the Number of hours studied and the number of hours slept

### 1.Import Pandas for data processing

In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

### 2.Read the CSV file

In [2]:
data = pd.read_csv("02Students.csv")

In [3]:
data.head()

   Hours  sHours  Marks
0      0       6     34
1      1       7     36
2      1       6     33
3      1       8     39
4      1       8     42

### 3.Split into X (Independent) and Y (predicted)

In [20]:
X = data[["Hours", "sHours"]]
Y = data["Marks"]

In [21]:
#view X
X.head()

   Hours  sHours
0      0       6
1      1       7
2      1       6
3      1       8
4      1       8

In [22]:
#view Y
Y.head()

0    34
1    36
2    33
3    39
4    42
Name: Marks, dtype: int64

### 4.Split train and test data with 30% test size

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=1234)

### 5.Train the Multiple Linear Regression

In [24]:
lin_regression = LinearRegression()

### 6.Provide the training Data

In [25]:
lin_regression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### 7.Predict the results

In [26]:
y_predict = lin_regression.predict(x_test)
y_predict

array([45.76085662, 55.91055579, 46.57952582, 41.50467624, 88.56916066,
       50.8357062 , 46.57952582, 79.2381307 , 65.24158575])

In [29]:
prediction = pd.DataFrame({'Actual': y_test, 'Predicted': y_predict})
prediction

    Actual  Predicted
7       45  45.760857
10      56  55.910556
4       42  46.579526
1       36  41.504676
28      82  88.569161
8       53  50.835706
3       39  46.579526
23      89  79.238131
14      72  65.241586

### 8.Get the R-Squared

In [32]:
R_sq_score = lin_regression.score(x_test,y_test)
R_sq_score

0.9014449991870028

### 9.Coefficient and Intercept

In [35]:
Reg_coef = lin_regression.coef_

In [36]:
#view mlr_coefficient 
Reg_coef

array([4.66551498, 5.07484959])

In [37]:
#view mlr_intercept 
Reg_intercept = lin_regression.intercept_
Reg_intercept

1.3152141538095208

### 10.Calculate the errors using RMSE

In [38]:
import math
LR_rmse = math.sqrt(mean_squared_error(y_test,y_predict))
LR_rmse

5.7553639416120195